@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");

:root {
    --theme-color: #FFC627 !important;
    --background-color: #3f3f3f;
}
body {
    color: #c8c8c8 !important;
    background-color: #3f3f3f !important;
}
body.close-side .sidebar-toggle {
    background-color: rgba(63, 63, 63, 0.8) !important;
}
.light-theme {
    display: none;
}
.dark-theme {
    display: inline-block;
}
div.bg-custom {
    background-color: #4f4f4f !important;
}
.github-corner svg {
    color: #3f3f3f;
}
.anchor span {
    color: #c8c8c8;
}
.sidebar-toggle {
    background-color: rgba(63,63,63,0.8);
}
.markdown-section p.tip em {
    color: #c8c8c8;
}
.markdown-section p.warn {
    background: rgba(234,111,90,0.1);
}
@media screen and (max-width: 768px) {
    body.close-side .sidebar-toggle {
        background-color: rgba(63,63,63,0.8);
    }
}
section.cover.has-mask .mask {
    background-color: #3f3f3f;
}
/* sidebar */
.sidebar {
    background-color: #3f3f3f;
    color: #c8c8c8;
}
.sidebar ul li a {
    color: #c8c8c8;
}
.search {
    border-bottom: 1px solid rgba(0,0,0,0.07) !important;
}
/* markdown content found on pages */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
    color: #657b83;
}
.markdown-section a {
    font-weight: 600;
}
.markdown-section code {
    background-color: #282828;
    color: #657b83;
}
.markdown-section pre {
    background-color: #282828;
}
.markdown-section pre > code {
    background-color: #282828;
    color: #657b83;
}
.markdown-section p.tip {
    background-color: #282828;
    color: #c8c8c8;
}
input[type='search'] {
    background: #4f4f4f;
    border-color: #4f4f4f;
    color: #c8c8c8;
}
.markdown-section th {
    border: 1px solid #c8c8c8;
}
.markdown-section td {
    border: 1px solid #c8c8c8;
}
.markdown-section tr {
    border-top: 1px solid #c8c8c8;
}
.markdown-section tr:nth-child(2n) {
    background-color: #282828;
}
