@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");

:root {
    --theme-color: #FFC627 !important;
    --background-color: #3f3f3f;
}
.progress {
    background-color: var(--theme-color, #ea6f5a);
}
.search a:hover {
    color: var(--theme-color, #ea6f5a);
}
.search .search-keyword {
    color: var(--theme-color, #ea6f5a);
}
body {
    color: #c8c8c8 !important;
    background-color: #3f3f3f !important;
}
body.close-side .sidebar-toggle {
    background-color: rgba(63, 63, 63, 0.8) !important;
}
kbd {
    border: solid 1px #ccc;
}
.github-corner svg {
    color: #3f3f3f;
    fill: var(--theme-color, #ea6f5a);
}
.anchor span {
    color: #c8c8c8;
}
.sidebar {
    border-right: 1px solid rgba(0,0,0,0.07);
}
.sidebar:hover::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.4);
}
.sidebar:hover::-webkit-scrollbar-track {
    background: rgba(136,136,136,0.1);
}
.sidebar-toggle {
    background-color: rgba(63,63,63,0.8);
}
.sidebar-toggle span {
    background-color: var(--theme-color, #ea6f5a);
}
.markdown-section hr {
    border-bottom: 1px solid #eee;
}
.markdown-section iframe {
    border: 1px solid #eee;
}
.markdown-section th {
    border: 1px solid #ddd;
}
.markdown-section td {
    border: 1px solid #ddd;
}
.markdown-section tr {
    border-top: 1px solid #ccc;
}
.markdown-section tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.markdown-section p.tip {
    background-color: #f8f8f8;
    border-left: 4px solid #f66;
}
.markdown-section p.tip:before {
    background-color: #f66;
    color: #f8f8f8;
}
.markdown-section p.tip code {
    background-color: #efefef;
}
.markdown-section p.tip em {
    color: #c8c8c8;
}
.markdown-section p.warn {
    background: rgba(234,111,90,0.1);
}
@media screen and (max-width: 768px) {
    body.close-side .sidebar-toggle {
        background-color: rgba(63,63,63,0.8);
    }
}
section.cover.has-mask .mask {
    background-color: #3f3f3f;
}
section.cover .cover-main > p:last-child a {
    border-color: var(--theme-color, #ea6f5a);
    color: var(--theme-color, #ea6f5a);
}
section.cover .cover-main > p:last-child a:last-child {
    background-color: var(--theme-color, #ea6f5a);
    color: #fff;
}
section.cover blockquote > p > a {
    border-bottom: 2px solid var(--theme-color, #ea6f5a);
}
section.cover blockquote > p > a:hover {
    color: var(--theme-color, #ea6f5a);
}
/* sidebar */
.sidebar {
    background-color: #3f3f3f;
    color: #c8c8c8;
}
.sidebar ul li a {
    color: #c8c8c8;
}
.sidebar ul li.active > a {
    color: var(--theme-color, #ea6f5a);
}
/* markdown content found on pages */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
    color: #657b83;
}
.markdown-section a {
    color: var(--theme-color, #ea6f5a);
    font-weight: 600;
}
.markdown-section h6 {
    color: #777;
}
.markdown-section blockquote {
    border-left: 4px solid var(--theme-color, #ea6f5a);
    color: #858585;
}
.markdown-section em {
    color: #7f8c8d;
}
.markdown-section code {
    background-color: #282828;
    color: #657b83;
}
.markdown-section pre {
    background-color: #282828;
}
/* code highlight */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8e908c;
}
.token.boolean,
.token.number {
    color: #c76b29;
}
.token.punctuation {
    color: #525252;
}
.token.property {
    color: #c08b30;
}
.token.tag {
    color: #2973b7;
}
.token.string {
    color: var(--theme-color, #ea6f5a);
}
.token.selector {
    color: #6679cc;
}
.token.attr-name {
    color: #2973b7;
}
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #22a2c9;
}
.token.attr-value,
.token.control,
.token.directive,
.token.unit {
    color: var(--theme-color, #ea6f5a);
}
.token.keyword {
    color: #e96900;
}
.token.statement,
.token.regex,
.token.atrule {
    color: #22a2c9;
}
.token.placeholder,
.token.variable {
    color: #3d8fd1;
}
.token.inserted {
    border-bottom: 1px dotted #202746;
}
.token.important {
    color: #c94922;
}
.markdown-section pre > code {
    background-color: #282828;
    color: #657b83;
}
pre::after {
    color: #ccc;
}
.markdown-section p.tip {
    background-color: #282828;
    color: #c8c8c8;
}
input[type='search'] {
    background: #4f4f4f;
    border-color: #4f4f4f;
    color: #c8c8c8;
}
